Repository ruipereira-pt/FantasyKings: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix security issues: RLS, search_path, and update vite to v6
  package-lock.json
  package.json
  scripts/enable-leaked-password-protection.js
  supabase/migrations/20250202000000_fix_security_issues.sql
Due: prettier --write

Update @vitejs/plugin-react to v5 for Vite 6 compatibility
  package-lock.json
  package.json
Due: prettier --write

Fix security issues: sanitize logging and remove sensitive data from logs
  scripts/enable-leaked-password-protection.js
Due: none

Fix CodeQL security issues: remove unused variables and sanitize all log inputs
  scripts/enable-leaked-password-protection.js
Due: none

Potential fix for code scanning alert no. 23: Log injection
  scripts/enable-leaked-password-protection.js
Due: none

Potential fix for code scanning alert no. 15: Useless conditional
  src/components/TeamBuilder.tsx
Due: eslint --fix

Potential fix for code scanning alert no. 14: Useless conditional
  src/components/CompetitionResults.tsx
Due: eslint --fix

Add support for SUPABASE_URL and SUPABASE_ANON_KEY environment variables
  .github/workflows/deploy.yml
  BOLT_HOST_SETUP.md
  DEPLOYMENT.md
  src/components/CompetitionManagement.tsx
  src/components/PlayerManagement.tsx
  src/components/Schedule.tsx
  src/components/TeamBuilder.tsx
  src/lib/initializeData.ts
  src/lib/supabase.ts
  src/services/api.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Fix: Remove unused @ts-expect-error directive
  src/lib/supabase.ts
Due: eslint --fix

Improve environment variable loading for Bolt.host
  BOLT_HOST_SETUP.md
  src/lib/supabase.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Simplify: Use only VITE_ prefixed environment variables
  BOLT_HOST_SETUP.md
  DEPLOYMENT.md
  src/lib/supabase.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Enhance error debugging for missing Supabase environment variables
  src/lib/supabase.ts
Due: eslint --fix

Fix Bolt.host edge function deployment errors
  supabase/functions/.boltignore
  supabase/functions/.supabaseignore
  supabase/functions/_shared/sportradar-service.ts
  supabase/functions/fetch-rankings/index.ts
  supabase/functions/fetch-tournaments-sportradar/index.ts
Due: eslint --fix

Add Content Security Policy (CSP) configuration
  CSP_CONFIG.md
  index.html
Due: prettier --write

Enhance Supabase env var error handling with explicit debug logs
  src/lib/supabase.ts
Due: eslint --fix

Disable debug logs in production - only show in dev mode
  src/lib/supabase.ts
Due: eslint --fix

Enable ALL debug logs in production for maximum visibility
  src/lib/supabase.ts
Due: eslint --fix

Fix __WS_TOKEN__ not defined error in Supabase real-time
  src/lib/supabase.ts
  vite.config.ts
Due: eslint --fix

Fix RefreshRuntime.getRefreshReg error in production
  vite.config.ts
Due: eslint --fix

Add automatic deployment setup and build scripts
  .github/workflows/deploy.yml
  AUTO_DEPLOY_SETUP.md
  BUILD_AND_DEPLOY.md
  ENV_VAR_TROUBLESHOOTING.md
  GITHUB_SECRETS_SETUP.md
  WHY_ENV_PROD_WONT_WORK.md
  env.production.template
  package.json
  scripts/build-with-env.sh
  scripts/deploy-local.sh
Due: prettier --write

Fix duplicate deploy step IDs in workflow
  .github/workflows/deploy.yml
Due: prettier --write

Update deploy workflow to trigger Vercel deployment on merge to main
  .github/workflows/deploy.yml
Due: prettier --write

Add automatic production promotion for Vercel deployment
  .github/workflows/deploy.yml
Due: prettier --write

Enhance production promotion with Vercel CLI verification
  .github/workflows/deploy.yml
Due: prettier --write

Remove redundant deployment workflow
  .github/workflows/deploy.yml
Due: prettier --write

Configure Vercel to deploy only on merge to main
  VERCEL_DEPLOYMENT_SETUP.md
  vercel.json
Due: prettier --write

Add Vercel ignore build step to prevent PR deployments
  VERCEL_DEPLOYMENT_SETUP.md
  scripts/vercel-ignore-build.sh
  vercel.json
Due: prettier --write

Revert: Remove ignore build step - restore default Vercel behavior
  VERCEL_DEPLOYMENT_SETUP.md
  vercel.json
Due: prettier --write

Remove unused vercel-ignore-build.sh script
  scripts/vercel-ignore-build.sh
Due: none

Update documentation to reflect default Vercel behavior
  VERCEL_DEPLOYMENT_SETUP.md
Due: prettier --write

Clean production debug logs and remove unused edge functions
  src/lib/supabase.ts
  supabase/functions/fetch-daily-schedule/index.ts
  supabase/functions/fetch-tournament-draws-final/index.ts
  supabase/functions/fetch-tournament-players-test/index.ts
  supabase/functions/fetch-tournament-players/index.ts
  supabase/functions/populate-tournaments/index.ts
Due: eslint --fix

Improve mobile responsiveness across the website
  src/components/AuthModal.tsx
  src/components/Competitions.tsx
  src/components/Layout.tsx
  src/components/Leaderboard.tsx
  src/components/PlayerScheduleModal.tsx
  src/components/Rankings.tsx
  src/components/Schedule.tsx
Due: eslint --fix

Fix mobile responsiveness and horizontal overflow issues
  index.html
  src/components/AdminLayout.tsx
  src/components/CompetitionManagement.tsx
  src/components/CompetitionResults.tsx
  src/components/CompetitionSetup.tsx
  src/components/CompetitionTournamentPlayers.tsx
  src/components/Layout.tsx
  src/components/Leaderboard.tsx
  src/components/PlayerManagement.tsx
  src/components/Rankings.tsx
  src/components/Schedule.tsx
  src/components/TeamBuilder.tsx
  src/components/TournamentAssociation.tsx
  src/components/TournamentPlayersModal.tsx
  src/index.css
Due: eslint --fix

Fix Sportradar cache to use Supabase Storage instead of filesystem
  supabase/functions/_shared/sportradar-cache.ts
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix seasons parsing and improve tournament error handling
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Remove duplicate closing brace
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix seasons parsing and tournament upsert error handling
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Add automatic edge function deployment to CI/CD
  .github/workflows/ci.yml
  SUPABASE_DEPLOYMENT_SETUP.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
