Repository ruipereira-pt/FantasyKings: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Sync edge functions: remove unused and add documentation
  supabase/functions/fetch-player-schedules/index.ts
  supabase/functions/fetch-rankings/index.ts
  supabase/functions/fetch-tournament-schedules/index.ts
  supabase/functions/fetch-tournaments-schedule/index.ts
  supabase/functions/fetch-tournaments-sportradar/index.ts
Due: eslint --fix

Add edge functions cleanup guide and script
  EDGE_FUNCTIONS_CLEANUP.md
  scripts/cleanup-unused-edge-functions.sh
Due: prettier --write

Fix edge function deployment in CI/CD
  .github/workflows/ci.yml
Due: prettier --write

Fix timeout and CORS issues in fetch-tournaments-schedule
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Limit to 20 competitions per call and fix sync state saving
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error (double closing brace)
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix: Apply MAX_COMPETITIONS limit AFTER filtering by lastCompetitionId
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix duplicate declaration and correct processing order
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: Add missing return statement and mapCategoryFromCompetition function
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Change catch syntax from (error: any) to (error) for Deno compatibility
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Make CI/CD pipeline fail on edge function syntax and deployment errors
  .github/workflows/ci.yml
Due: prettier --write

Fix TypeScript errors in sportradar-cache.ts
  supabase/functions/_shared/sportradar-cache.ts
Due: eslint --fix

Fix season info endpoint to use locale and format as parameters
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Add timeout check inside seasons loop to prevent mid-competition timeouts
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Add comprehensive logging to saveSyncState function
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Restructure to process one competition at a time until completion
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Change to process exactly 1 competition per edge function invocation
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix CI workflow, improve rankings sync, and update tournament sync
  .github/workflows/ci.yml
  fetch-rankings-complete.ts
  fetch-rankings-simple.ts
  fetch-rankings-temp.ts
  src/components/CompetitionManagement.tsx
  src/components/PlayerManagement.tsx
  src/components/Schedule.tsx
  supabase/functions/_shared/sportradar-cache.ts
  supabase/functions/fetch-rankings/index.ts
  supabase/functions/fetch-tournaments-schedule/index.ts
  supabase/migrations/20250128000000_auto_update_competition_status_on_deadline.sql
Due: eslint --fix, prettier --write

Fix syntax error: remove standalone comma in JSON object
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Update dependencies and fix security vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

Align React type definitions with React 18 version
  package-lock.json
  package.json
Due: prettier --write

Fix code quality issues: remove redundant conditionals, fix error handling, remove syntax errors
  supabase/functions/fetch-rankings/index.ts
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: reformat upsert call with proper parentheses and commas
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix lint errors: disable setState-in-effect rule and fix unused variable
  FETCH_RANKINGS_UPDATE_SUMMARY.md
  SCRAPER_INTEGRATION_SUMMARY.md
  UPDATE_RANKINGS_GUIDE.md
  cleanup-duplicates-guide.md
  cleanup-tournaments-by-criteria.sql
  insert-tournaments-2025-2026.sql
  insert-tournaments-2025.sql
  merge-duplicate-players.sql
  run-cleanup-sql.js
  run-cleanup-sql.sh
  scripts/generate-rankings-sql.ts
  scripts/scrape-atp-rankings.ts
  src/components/CompetitionSetup.tsx
  supabase/functions/fetch-rankings/index.ts.backup
  supabase/functions/fetch-rankings/index.ts.backup-20251124-235030
  supabase/functions/fetch-rankings/index.ts.backup-before-dedup-fix-1764025472135
  supabase/functions/fetch-rankings/index.ts.backup-before-fix-duplicates-1764025453651
  supabase/functions/fetch-rankings/index.ts.backup-before-optimize-1764025496706
  supabase/functions/fetch-rankings/index.ts.backup-before-remove-sportradar
  supabase/functions/fetch-rankings/index.ts.backup-before-scraper-update-1764024633904
  supabase/functions/fetch-rankings/index.ts.backup2
  supabase/functions/sync-tournaments/index.ts
  supabase/functions/sync-tournaments/index.ts.backup2
  supabase/functions/sync-tournaments/index.ts.old
  supabase/migrations/20250203000000_remove_sportradar_sync_state.sql
  update-rankings-from-scraped-data.sql
Due: eslint --fix, prettier --write

Fix syntax error: remove trailing comma in upsert call
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: wrap await chain in parentheses
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: remove outer parentheses from await chain
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: split await chain into separate variable
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix TypeScript error: add type annotation to results array
  supabase/functions/fetch-player-schedules/index.ts
Due: eslint --fix

Fix fetch-tournaments-schedule syntax: compact upsert call format
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix fetch-tournaments-schedule: use standard method chaining for upsert
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix missing opening brace in upsert call object literal
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: comment out orphaned code block
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Fix syntax error: comment out orphaned closing braces
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Restore fetch-tournaments-schedule to last working version
  supabase/functions/fetch-tournaments-schedule/index.ts
Due: eslint --fix

Skip edge functions deployment in CI/CD
  .github/workflows/ci.yml
Due: prettier --write

Disable entire supabase-functions job in CI/CD
  .github/workflows/ci.yml
Due: prettier --write

Remove supabase-functions from ci-success dependencies
  .github/workflows/ci.yml
Due: prettier --write

Upgrade to React 19.2.1 with security patches
  package-lock.json
  package.json
  src/components/Competitions.tsx
  src/test/components/Layout.test.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yml,yaml}
